$bg-colour: #9c9c9c;
$home-colour: #ff9dd9;
$projects-colour: #77e4ff;
$discord-colour: #949fff;
$contact-colour: #ffea8d;
$cv-colour: #ca89ff;

$study-colour: #9bff97;

$panel-colour: #252525;

$text-colour: #FFFFFF;
